LOVECATWA_HOST=loveca.lovelivefun.xyz
ANDROID_PACKAGE_NAME=xyz.lovelivefun.loveca
ANDROID_SHA256_FINGERPRINT=AA:BB:CC:DD:EE:FF:00:11:22:33:44:55:66:77:88:99:AA:BB:CC:DD:EE:FF:00:11:22:33:44:55:66:77:88:99
